<% if current_user.admin? || current_user.premium? %>
  <ul class="nav nav-tabs">
    <li role="presentation" class="dropdown">
      <ul>
        <%= form_for([@collaborator, Collaborator.new]) do |f| %>
          <div class="form-group">
            <%= f.select :user, User.all.map { |u| u.email }, {:include_blank => true} %>
            <%= f.submit "Add Collaborator" %>
          </div>
        <% end %>
      </ul>
    </ul>
<% end %>


  <!-- <div class="col-md-8">
     -->
