<% if current_user.admin? || current_user.premium? %>
  <div class="form-group">
    <%= f.label :private, class: 'checkbox' do %>
      <%= f.check_box :private %> Private Wiki
    <% end %>
  </div>
  <% end %>


  <div class="col-md-8">
      <% User.all.each do |user| %>
      <div class="form-group">
      <%= f.label :collaborator, class: 'checkbox' do %>
      <%= f.collection_select(:user, :user_id, User.all, :id) %>
      <% end %>
    </div>
  <% end %>
